html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	font-family: "Swiss 721 BT", sans-serif;
	font-size: 40pt;
	font-weight: 400;
	line-height: 1.0;
	color: #FFFFFF;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#clock {
	display: table;
	width: 100%;
	height: 100%;
	font-kerning: none;
}

#clock > div {
	display: table-row;
}

#clock > div > div {
	display: table-cell;
	vertical-align: middle;
}

#clock-time {
	font-size: 570%;
	font-weight: 600;
}

#clock-date {
	margin-top: 0.3em;
	font-size: 190%;
	font-weight: 200;
}

#clock-time, #clock-date {
	text-align: center;
}

#clock > div:nth-child(2) {
	height: 0.1%;
}

#clock-weather {
	padding-bottom: 0.4em;
	padding-right: 1.2em;
	text-align: right;
	font-weight: 100;
	font-size: 80%;
	transform: scaleY(0.9);
}


/* Font files */

@font-face { font-family: "Swiss 721 BT"; src: url("swiss-721-bt-thin.ttf"  ) format("truetype"); font-weight: 100; font-style: normal; }
@font-face { font-family: "Swiss 721 BT"; src: url("swiss-721-bt-light.ttf" ) format("truetype"); font-weight: 200; font-style: normal; }
@font-face { font-family: "Swiss 721 BT"; src: url("swiss-721-bt-normal.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Swiss 721 BT"; src: url("swiss-721-bt-medium.ttf") format("truetype"); font-weight: 600; font-style: normal; }
@font-face { font-family: "Swiss 721 BT"; src: url("swiss-721-bt-bold.ttf"  ) format("truetype"); font-weight: 800; font-style: normal; }
