html {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
}

body {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: "Swiss 721 BT", sans-serif;
	font-size: 24pt;  /* Do not change, just a dummy initial size, must match JavaScript code */
	font-kerning: none;
	color: #FFFFFF;
}

#timeblock {
	font-size: 100%;
	font-weight: bold;
}

#dateblock {
	font-size: 35%;
	font-weight: normal;
}

@font-face {
	font-family: "Swiss 721 BT";
	src: url("swiss-721-bt-normal.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Swiss 721 BT";
	src: url("swiss-721-bt-medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
